---
BasedOnStyle: LLVM
Language: C

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros:
    Enabled: true
AlignConsecutiveShortCaseStatements:
    Enabled: true
AlignEscapedNewlines: LeftWithLastLine
AlignOperands: AlignAfterOperator
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: NonAssignment
ColumnLimit: 90
Cpp11BracedListStyle: false
IncludeBlocks: Regroup
IndentExternBlock: NoIndent
IndentGotoLabels: false
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
KeepEmptyLines:
    AtEndOfFile: true
    AtStartOfBlock: false
SpaceBeforeCpp11BracedList: true
SpaceInEmptyBlock: true
Standard: Auto
TabWidth: 4
UseTab: Always
